.ReserveTable {
    display: flex; 
    justify-content: center;
    background: linear-gradient(to bottom, #495e57 70%, white 30%);
    padding-top: 15px;
    padding-bottom: 25px;
}

.ReserveTableContent {
    width: 750px;
    display: flex; 
    justify-content: space-between;
}

.ReserveTableImage {
    width: 250px;
    border-radius: 8px;
}

.ReserveTableName {
    font-size: 25px;
    color: #dab500;
}

.ReserveTableSecondName {
    font-size: 20px;
    color: white;
    padding-bottom: 7px;
}

.ReserveTableText {
    font-size: 13px;
    color: white;
    padding-bottom: 10px;
}

.ReserveTableInfo {
    width: 200px;
}

.specialsSections {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.textOfSpecials {
    width: 750px;
    display: flex;
    justify-content: space-between;
}

.buttonMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.specialsCard {
    width: 750px;
    display: flex;
    justify-content: space-between;
}

